/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
    text-align: center;
    padding: 20px 0;
    
}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}

/*  GRID OF THREE  */
.span_3_of_3 {
	width: 100%;
}
.span_2_of_3 {
	width: 66.1%;
}
.span_1_of_3 {
	width: 32.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { margin: 1% 0 1% 0%;}
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}

/* Card style */
.card-body{
    background-color: #AA0712;
    float: left;
    display: flex;
    width: 100%;
    border-radius: 5px;
    align-items: center;
    

}
.card-content{
    padding: 10px;
}
.card-img{
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
.card-img img{
    max-width:100%;
    height:auto;
   
    
    
}
.card-text{
    padding: 10px;
    padding-left: 20px;
    text-align: start;
}
.btn-card{
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.card-1 button{
    background-color: #FFD609;
}
.card-2{
    background: #A5B4CB;
}
.card-2 button{
    background: #FFFFFF;
    color: #000;
}
.card-3{
    background: #BFA600;
}
.card-3 button{
    background: #000;
}