/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}
/* Card style */
.card-body{
    background-color: #AA0712;
    float: left;
    display: flex;
    width: 100%;
    border-radius: 5px;
    align-items: center;
    

}
.card-content{
    padding: 10px;
}
.card-img{
    width: 90%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;
}
.card-img img{
    max-width:100%;
    height:auto;
   
    
    
}
.card-text{
    width: 100%;
    padding: 10px;
    padding-left: 20px;
    text-align: start;
}
.btn-card{
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.card-1 button{
    background-color: #FFD609;
}
.card-2{
    background: #A5B4CB;
}
.card-2 button{
    background: #FFFFFF;
    color: #000;
}
