/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
    text-align: center;
    align-items: center;
    /* display: flex; */
  flex-wrap: wrap;
  align-content: center;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF SEVEN  */
.span_7_of_7 {
	width: 100%;
}

.span_6_of_7 {
  	width: 85.48%;
}

.span_5_of_7 {
  	width: 70.97%;
}

.span_4_of_7 {
  	width: 56.45%;
}

.span_3_of_7 {
  	width: 41.94%;
}

.span_2_of_7 {
  	width: 27.42%;
}

.span_1_of_7 {
  	width: 12.91%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_7, .span_2_of_7, .span_3_of_7, .span_4_of_7, .span_5_of_7, .span_6_of_7, .span_7_of_7 { width: 100%; }
}

.shop-img {
    background-color:rgb(231, 231, 231);
    /* border:1px solid red;     */
    height:150px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:150px;
    box-shadow: 3px 3px 3px #d3d3d3;
    flex-wrap: wrap;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
   



    
}
.shop-img img{
    width: 70%;
    padding: 10px;
    padding-top: 25px;

}

.shop-header{
    display: flex;

    
}
.shop-head{
    display: flex;
    align-items: center;
}
.shop-icon{
    margin-left: auto;
}



